<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css"/>

</head>
<body>

<h1>Request Details</h1>
<div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Request Details:</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.name}">Name</p></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Emails:</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.emails}">Emails</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name Profile Link:</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.nameProfileLink}">nameProfileLink</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">phones</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.phones}">phones</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">address</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.address}">address</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">address2</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.address2}">address2</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.city}">city</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">state</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.state}">state</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">zip</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.zip}">zip</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">country</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.country}">country</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">companyName</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.companyName}">companyName</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">companyProfileLink</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.companyProfileLink}">companyProfileLink</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">employees</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.employees}">employees</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">revenue</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.revenue}">revenue</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">title</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.title}">title</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">website</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.website}">website</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">socialProfileLinks</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.socialProfileLinks}">socialProfileLinks</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">gender</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.gender}">gender</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">age</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.age}">age</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">influencerScore</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.influencerScore}">influencerScore</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">notes</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.notes}">notes</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">industry</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.industry}">industry</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">industry</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.avatars}">avatars</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">industry</label>
            <div class="col-sm-10">
                <p class="form-control-static" th:text="${requestDetail.otherDatas}">otherDatas</p>
            </div>
        </div>
    </form>
</div>

<h1>Transcripts</h1>

<table th:if="${not #lists.isEmpty(transcripts)}" class="table table-bordered table-striped">
    <tr>
        <th>idOfTranscript</th>
        <th>date</th>
        <th>dateSeconds</th>
        <th>dateMilliseconds</th>
        <th>alias</th>
        <th>message</th>
    </tr>
    <tr th:each="entry : ${transcripts}">
        <td th:text="${entry.idOfTranscript}"></td>
        <td th:text="${entry.date}"></td>
        <td th:text="${entry.dateSeconds}"></td>
        <td th:text="${entry.dateMilliseconds}"></td>
        <td th:text="${entry.alias}"></td>
        <td th:text="${entry.message}"></td>
    </tr>
</table>

<h1>Plugins</h1>

<table th:if="${not #lists.isEmpty(plugins)}" class="table table-bordered table-striped">
    <tr>
        <th>name</th>
        <th>value</th>
    </tr>
    <tr th:each="entry : ${plugins}">
        <td th:text="${entry.name}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
</table>

<h1>Operator Variables</h1>

<table th:if="${not #lists.isEmpty(operatorVariables)}" class="table table-bordered table-striped">
    <tr>
        <th>name</th>
        <th>value</th>
    </tr>
    <tr th:each="entry : ${operatorVariables}">
        <td th:text="${entry.name}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
</table>

<h1>Javascript Variables</h1>

<table th:if="${not #lists.isEmpty(javascriptVariable)}" class="table table-bordered table-striped">
    <tr>
        <th>name</th>
        <th>value</th>
    </tr>
    <tr th:each="entry : ${javascriptVariable}">
        <td th:text="${entry.name}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
</table>


</body>
</html>